<html>

<head>
    <title></title>
</head>

<body>
    <p>You've been invited to get paid by Texas ToGo, please follow the link to setup your payment details in the Driver Payment Portal.</p>
    <a href="https://drivers.letsdodelivery.com/users/sign_up">> Click to sign up now</a>
    <p><b>IMPORTANT:</b> You must setup an account on the Driver Payment Portal in order to receive payments for your deliveries completed.</p>
</body>

</html>