<html>

<head>
    <title></title>
</head>

<body>
    You've been invited to get paid by Texas ToGo, please follow the link to setup your payment details in the Driver Payment Portal.
    <a href="https://drivers.letsdodelivery.com/users/sign_up">sign up</a>
    IMPORTANT: You must setup an account on the Driver Payment Portal in order to receive payments for your deliveries completed.
</body>

</html>