<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Payment ID</th>
          <th>Amount</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @payments.each do |payment| %>
          <% if payment.source_transfer.source_transaction.present? %>
            <tr>
              <td>
                <% if payment.source_transfer.source_transaction.source.object.eql?('card') %>
                  <i class="fa fa-credit-card text-muted"></i>
                <% end %>
                <span class="leftspace"><%= payment.source_transfer.source_transaction.id %></span>
                <% if payment.source_transfer.source_transaction.dispute.present? %>
                  <% if payment.source_transfer.source_transaction.dispute.status.eql?('needs_response') %>
                    <span class="label label-danger leftspace">Disputed</span>
                  <% elsif payment.source_transfer.source_transaction.dispute.status.eql?('lost') %>
                    <span class="label label-default leftspace">Dispute lost</span>
                  <% elsif payment.source_transfer.source_transaction.dispute.status.eql?('won') %>
                    <span class="label label-success leftspace">Dispute won</span>
                  <% end %>
                <% end %>
              </td>
              <td><%= number_to_currency(payment.amount/100) %></td>
              <td><%= format_date(payment.created) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
