<% if params[:page] %>

<% else %>
  <div class="home-hero">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center topspace-lg">
          <%= render 'layouts/messages' %>
          <h1 class="topspace-lg">Texas ToGo Driver Portal</h1>
          <h3>Need help? <a href="#">Contact Us</a></h3>
          <p class="topspace-lg">
            <%= link_to "Get Started", new_user_registration_path, class: "btn btn-xl btn-primary btn-custom btn-block shadow-sm" %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="container">
  <div class="row topspace-lg">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4">
          <h3 class="page-header">Lorem Ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ipsum enim, pulvinar vitae odio non, fermentum consectetur ante. Quisque eget ipsum vitae arcu facilisis molestie.
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="page-header">Lorem Ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ipsum enim, pulvinar vitae odio non, fermentum consectetur ante. Quisque eget ipsum vitae arcu facilisis molestie.
          </p>       
        </div>
        <div class="col-md-4">
          <h3 class="page-header">Lorem Ipsum</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ipsum enim, pulvinar vitae odio non, fermentum consectetur ante. Quisque eget ipsum vitae arcu facilisis molestie.
          </p>  
        </div>
      </div>
    </div>
  </div>
</div>
