<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center text-muted">
        <p>
          This site is for our Texas ToGo drivers. Click <a href="https://www.txtogo.com/">here</a> to go to our main site.
        </p>
        <p>
          © 2015-2018 Texas ToGo. All Rights Reserved
        </p>
      </div>
    </div>
  </div>
</footer>
